[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[9c232afc-3c07-4c60-9c82-fb5eddd267a0]
row=3
col=0

[ca30b7ef-c129-462e-859c-9a4f77c4fd69]
row=4
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/ktngu]
row=2
col=0

